<ion-view class="contact-view">
  <ion-nav-title>
    <span>About Us</span>
  </ion-nav-title>
  <ion-content>
    <div class="contact-content">
      <div class="">
       <h3>About Us</h3>
        <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam cumque error fugit sit possimus provident, id culpa minus obcaecati tempore magni impedit a aperiam, vel, quisquam cum facilis blanditiis qui.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate aspernatur consequatur at adipisci fugit pariatur iure perspiciatis harum, qui soluta nesciunt nam ratione provident laboriosam veniam, ea ab vitae voluptates!
        </p>
      </div>
    

    </div>
  </ion-content>
</ion-view>
